{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRINCIPAL</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
         <H1>PAGINA PRINCIPAL</H1>
    </header>
    
    <nav>
        <a href="{% url 'productos:index' %}"> IR A PRODUCTOS </a>
        
        <a href="{% url 'ofertas:index' %}"> IR A OFERTAS </a>
    </nav>
    <div class="container">
        <button id="show-alert">PRESIONA  AQUI</button>
    </div>
</body>
</html>