<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li> {{ producto.nombre}} : {{producto.precio}} : {{producto.categoria.nombre}}</li>
        {% empty %}  
            <h2> No hay Productos</h2>
        {% endfor %}    
    </ul>
<a href="/ofertas"> Ir a Ofertas </a>
    
</body>
</html>